.home{
    width: 100%;height: 100%;background: #eee;
}
header{
    height: 40px;border-bottom: 1px solid #ccc;background: #fff;
}
.head{
float: right;
height: 40px;
}
.head span{
    height: 40px;
    padding:0 10px;
    box-sizing: border-box;
  
}
.head span>i{
    margin-top: 10px;
}
.mary{
    height: 40px;
    padding:0 10px;
    display: inline-block;
}
.content{
    width: 100%;
    clear: both;
   
}
.dlss{
   width: 100%;
   display: flex;
}
.dls{
    width: 270px;
    display: flex;
    background: #fff;
    margin-left: 20px;
    padding:5px 0;
}
.dls i{
    color: pink;
    padding:20px 15px;
    vertical-align: middle;
}
.graph{
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
}
.masks{
    position: relative;
    text-align: center;
    vertical-align: middle;
}
